<p>
  <b>Year:</b>
  <%=h @year.year %>
</p>

<p>
  <b>Sum unit0:</b>
  <%=h @year.sum_unit0 %>
</p>

<p>
  <b>Sum unit1:</b>
  <%=h @year.sum_unit1 %>
</p>


<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>